/* #248 #238 #dad9de #e4e4e6 #ececec #e7e7e9 #323d6b #172554*/

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 600;
}
h5 {
  font-family: "Bitter", serif;
  font-weight: 400;
}
button {
  font-family: "Chivo", sans-serif;
  font-weight: 600;
}
span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777;
}
label {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.loginBackgroundContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #dad9de, #323d6b);
}
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 25%;
  height: 50%;
  background-color: #e4e4e6;
  border-radius: 16px;
}
.cadasterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 25%;
  height: 70%;
  background-color: #e4e4e6;
  border-radius: 16px;
}
.infoTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 20%;
  margin-top: 18px;
}
.loginContainer h1,
.cadasterContainer h1 {
  color: #172554;
}

.loginContainer h5,
.cadasterContainer h5 {
  width: 200px;
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 12px;
}
.rowInfos {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0, "opsz" 24;
  color: #172554;
  margin-right: 18px;
}
.loginInfosContainer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.loginInfosContainer input {
  width: 65%;
  height: 2.5rem;
  margin-top: 10px;
  border-radius: 16px;
  outline: none;
  padding: 22px;
}
.loginInfosContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.loginInfosContainer label {
  width: 63%;
  margin-top: 24px;
}
.loginContainer button {
  color: #fff;
  width: 65%;
  height: 2.5rem;
  margin-top: 26px;
  border-radius: 2px;
  background-color: #172554;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 12px;
}
#noLoginMsg {
  margin-top: 1rem;
  margin-top: 26px;
  text-align: center;
  color: #e60c0d;
}

.showPassContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  width: 65%;
  position: relative;
}
.showPassContainer i {
  position: absolute;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.showPassContainer input {
  position: relative;
  min-width: 100%;
}

#userPass {
  width: 100%;
}
.cadasterContainer button {
  color: #fff;
  width: 65%;
  height: 2.5rem;
  margin-top: 8px;
  border-radius: 2px;
  background-color: #172554;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 12px;
}

a {
  text-decoration: none;

  margin-left: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777;
}
a:hover {
  color: #161616;
}
input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.loginInfosContainer span {
  display: flex;
  align-items: baseline;
}
.validadeKeyContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 70%;
  height: 100px;
}
.validadeKeyContainer p {
  text-align: w;
  color: #e60c0d;
  margin-top: 5px;
}
.fa-x {
  font-size: 10px;
  color: #e60c0d;
}
.fa-check {
  font-size: 10px;
  color: #282;
}
.initialScreen {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #e4e4e6;
}
.userInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 4rem;
  background-color: #1b1a55;
}
.showUserInfo {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: end;
}
.navigatePage {
  display: flex;
  align-items: end;

  flex-direction: row;
  width: 50%;
  height: 100%;
}
.letterCircle {
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid #aaa;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin: 0px 10px 0px 0px;
}
.letterCircle p {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

#loginEmail {
  margin: 0px 10px 0px 0px;
  color: #fff;
}
.fa-arrow-right-from-bracket {
  margin: 0px 10px 0px 0px;
  color: #cccc;
  font-size: 16px;
  cursor: pointer;
}
.messageAfterCadaster {
  display: none;
  align-items: center;
  justify-content: center;

  width: 25%;
  height: 70%;
  position: absolute;
  background-color: rgba(222, 222, 222, 0.5);
  z-index: 1;
  border-radius: 16px;
}
#renderMessage {
  font-size: 30px;
  text-align: center;
  width: 60%;
  font-family: "Noto Sans Khojki", sans-serif;
}
.nav {
  width: auto;
  padding: 0.5rem 1rem;
  background-color: #e4e4e6;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.navBlue {
  background-color: #1b1a55;
  color: #fff;
  border: 0.5px solid #ddd;
}
.homeContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #e4e4e6;
}
.createContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
  background-color: #e4e4e6;
}
.modifyContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #e4e4e6;
}
.viewContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #e4e4e6;
}
.createContact {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.contactUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e4e4e6;
  border-top: 0px;
  border-left: 0px;
}
.sendPhotoCadaster {
  background-color: #1b1a55;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  color: #fff;
  font-weight: 500;
}
#imageContact {
  display: none;
}

.addPhotoContact img {
  width: 100%;
  height: 100%;
}
.InfoContactCreate {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.normalLabel {
  margin: 0.5rem 0 0.2rem 0.3rem;
}

.InfoContactCreate input {
  height: 2rem;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
}
.InfoContactCreate :nth-child(1) {
  margin-top: 2rem;
}

.alignButton {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
.alignButton button {
  height: 2rem;
  width: 10rem;
  cursor: pointer;
  color: #fff;
  background-color: #1b1a55;
  font-size: 1rem;
  border-radius: 0.2rem;
}

.inputSelector:nth-child(2),
.inputSelector:nth-child(6) {
  background-color: #ccc;
}
.nameInfo {
  display: flex;
  width: 100%;
  height: auto;
}
